* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

nav {
  border-bottom: 1px solid #BCBDBF;
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  right: 0;
  background-color: white;
}
nav .nav-bar-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
nav .nav-bar-1 .left, nav .nav-bar-1 .right {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}
nav .nav-bar-1 .left p {
  font-size: 21px;
  color: #5F6368;
  margin-left: 5px;
}
nav .nav-bar-1 .right svg {
  height: 30px;
  width: 30px;
}
nav .nav-bar-1 .right .circle {
  margin-left: 10px;
  background-color: darkgreen;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-bar-1 .right .circle p {
  font-size: 18px;
  color: white;
}
nav .nav-bar-2 {
  margin-bottom: 11px;
}
nav .nav-bar-2 ul {
  display: flex;
  list-style: none;
}
nav .nav-bar-2 ul li {
  margin: 0 20px;
  margin-top: 20px;
}
nav .nav-bar-2 ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #5F6368;
}
nav .nav-bar-2 ul li a.select {
  color: #537EDC;
  border-bottom: 3px solid #537EDC;
  padding-bottom: 11px;
}

main .container h2 {
  margin-top: 85px;
  color: #3C4043;
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
main .container h2#primo {
  margin-top: 190px;
}
main .container p {
  margin: 30px 0;
  color: #212121;
}
main .container li {
  margin: 15px;
}
main .container ol {
  padding-left: 15px;
}
main .container ol li {
  padding-left: 15px;
}
main .container ul {
  padding-left: 31px;
}
main .container ul li {
  padding-left: 10px;
}

.select {
  color: #537EDC;
}

footer {
  height: 50px;
  background-color: #F5F5F5;
  display: flex;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .left ul {
  display: flex;
  align-items: center;
  list-style: none;
}
footer .container .left ul li {
  margin: 0 5px;
}
footer .container .left ul li a {
  text-decoration: none;
  color: #5F6368;
  font-size: 11px;
}
footer .container .right {
  display: flex;
  align-items: center;
}
footer .container .right img {
  width: 30px;
  margin-right: 2px;
}
footer .container .right select {
  width: 130px;
}
