main{
  .container{
    h2{
      margin-top: 100px;
    }
    p{
      margin: 30px 0;
    }
    li{
      margin: 15px;
    }
    ol{
      padding-left:15px;
      li{
        padding-left: 15px;

      }
    }
    ul{
      padding-left: 31px;
      li{
        padding-left: 10px;
      }
    }
  }
}
.select{
  color: blue;
}
