main{
  .container{
    h2{
      margin-top: 85px;
      color: #3C4043;
      font-family: 'Google Sans',sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;

      &#primo{
        margin-top: 190px;
      }
    }
    p{
      margin: 30px 0;
      color: #212121;
    }
    li{
      margin: 15px;
    }
    ol{
      padding-left:15px;
      li{
        padding-left: 15px;

      }
    }
    ul{
      padding-left: 31px;
      li{
        padding-left: 10px;
      }
    }
  }
}
.select{
  color: #537EDC;
}
