footer {
  height: 50px;
  background-color: #F5F5F5;
  display: flex;
  .container{
    @include my-flex-space-between;
    align-items: center;
    .left{
      ul{
        display: flex;
        align-items: center;
        list-style: none;
        li{
          margin: 0 5px;
          a{
            text-decoration: none;
            color: #5F6368;
            font-size: 11px;
          }
        }
      }
    }
    .right{
      display: flex;
      align-items: center;
      img{
        width: 30px;
        margin-right: 2px;
      }
      select{
        width: 130px;
      }
    }
  }
}
