nav{
  border-bottom: 1px solid #BCBDBF;
 .nav-bar-1{
  @include my-flex-space-between;
  margin-top: 20px;
  .left, .right{
    display: flex;
    align-items: center;
    margin: 0px 20px;
  }
  .left{

    p{
      font-size: 21px;
      color: gray;
    }
  }
  .right{
    // margin: 0px 15px;
    .circle{
      margin-left: 10px;
      background-color: green;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      display:flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 20px;
        color: white;
      }
    }
  }
}
.nav-bar-2{
  margin-bottom: 11px;
    ul{
      display: flex;
      list-style: none;
      li{
        margin: 0 20px;
        a{
          text-decoration: none;
          font-size: 18px;
          color: #BCBDBF;
        &.select{
            color: blue;
          }
        }

      }
    }
}
}
